html, body {
    margin: 0;
    height: 100%;
}
body {
    overflow-y: hidden;
    /* background-image: url('w4.jpg'); */
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6) ), url('w4.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
p {
  margin: 0;
  padding: 0;
}
#app {
    height: 100%;
}
router_link {
    text-decoration: none
  }
.button {
  padding: 1rem 1.5rem;
  font-size: 1em;
  border-radius: 5px;
  color: #000000;
  transition: background-color 0.2s;
  transition-timing-function: ease-out
}

.button-orange {
  border: 1px #ffa06d solid;
  background-color: #ff6e40;
}
.button-orange:hover {
  border: #c53d13 1px solid;
  background-color: #c53d13
}
.button-orange:focus {
  outline:none;
  background-color: #c53d13;
}




.button-blue {
  border: 1px #c3fdff solid;
  background-color: #90caf9;
}
.button-blue:hover {
  border: #5d99c6 1px solid;
  background-color: #5d99c6;
}
.button-blue:focus {
  outline:none;
  background-color: #5d99c6;
}


.m-0 {
  margin: 0
}
.mb-05 {
  margin-bottom: 0.5rem;
}

.mb-03 {
  margin-bottom: 0.3rem;
}